@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "OpenSans";
  src: local("OpenSansRegular"),
    url("./fonts/Open-sans/OpenSans-Regular.ttf") format("truetype");
}

* {
  font-family: OpenSans;
}
